@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
When finishing use this command to minimize css size:
npx tailwindcss -o build.css --minify
*/

.command {
    @apply text-mutedTurqoise;
    text-shadow: 0 0 8px #1dcbd1a6;
}

p {
    overflow: hidden;
    white-space: pre;
    display: block;
    animation: typing .7s steps(40, end);
}

a {
    @apply underline transition-all hover:brightness-75 active:brightness-50;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
