@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import "./shell.css";

:root {
  --color-text: oklch(0.8 50% 40);
  --color-background: oklch(0.1 2% 300);
  --color-brand: oklch(0.8 50% 300);
  --color-accent: oklch(0.8 50% 200);

  --column-width: 80ch;

  --default-duration: 0.2s;
  --default-timing-function: cubic-bezier(.40, .15, .65, 1);
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: 'Roboto Mono', monospace;
  line-height: 1;
}

a {
  text-decoration-color: var(--color-accent);
  @media (prefers-reduced-motion: no-preference) {
    transition: filter var(--default-duration) var(--default-timing-function);
  }
}

a:hover {
  filter: brightness(1.2);
}

main {
  max-width: var(--column-width);
  /* margin-inline: auto; */
  padding-inline: 2ch;
  padding-block: 3ch;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}
